
<h1 class = text-center> See all cocktails </h1>

<ul class = container>
    <% @cocktails.each do |cock| %>
    <li> <%= link_to cock.name, cocktail_path(cock) %>
<%= link_to "Delete", cocktail_path(cock),
method: :delete, class: "btn btn-danger"%></li>
<% end %>

</ul>
<%= link_to "Add a cocktail", new_cocktail_path %>

