// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";


  .minilink {
    vertical-align: middle;
    font-size: 0.7em;
  }

  .red {
    color: darkred;
  }

  .cocktail-div {
    border: 1px solid darkgrey;
    margin: 10px;
  }

  .margin10{
    margin: 10px;
  }

  img {
    max-width:100%;
    max-height:100%;
  }
  img:hover{
    opacity: 0.8;
  }

  .center {
      display:block;
      width:200px;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;
  }
